
	 /*
		*{
			margin: 0;
			padding: 0;
		}
		.class1{
			position: absolute;
			right: 0;
			width: 100px;
			height: 100px;
			background-color: red;
			opacity: 1;
		}
		.class2{
			margin-right: 100px;
			height: 100px;
			background-color: green;
		}
 */
	/*
		*{
			margin: 0;
			padding: 0;
		}
		.right{
			position: absolute;
			right: 0;
			width: 100px;
			height: 100px;
			background-color: #fcc;
		}
		.left{
			margin-right: 100px;
			height: 100px;
			background-color: #ffc;
		}

 */
 	/*
 	margin合并
 		*{
 			margin: 0;
 			padding: 0;
 		}
 		.wrapper{
 			position: absolute;
 			margin-left: 100px;
 			margin-top: 100px;
 			width: 100px;
 			height: 100px;
 			background-color: black;
 		}
 		.content{
 			margin-left: 50px;
 			margin-top: 150px;
 			width: 50px;
 			height: 50px;
 			background-color: red;
 		}*/

 	/*
 	margin合并
 		*{
 			margin: 0;
 			padding: 0;
 		}
 		.box1{
 			margin-right: 100px;
 			background-color: red;
 		}
 		.box2{
 			margin-left: 100px;
 			background-color: green;
 		}
 		.demo1{
 			margin-bottom: 200px;
 			background-color: red;
 		}
 		.demo2{
 			margin-top: 200px;
 			background-color: green;
 		}

*/

/*
position:absolute; float:left/right
内部转化成inline-block;
*/

/* 	float*/
		/**{
			margin: 0;
			padding: 0;
		}*/

/*

		.wrapper{
			border: 1px solid black;
		}
		.content{
			float: left;
			color: #fff;
			width: 100px;
			height: 100px;
			background-color: black;
		}
		.wrapper::after{
			content:"";
			display: block;
			clear: both;
		}
		*/



/*
.box{
	float: left;
	width: 100px;
	height: 100px;
	background-color: black;
}

.demo{
	width: 150px;
	height: 150px;
	background-color: green;
}
*/


/*
！important
行间样式
id
class|属性|伪类
标签|伪元素
通配符*/





/*伪元素*/
/*
span::before{
	content:"XCK";
}

span::after{
	content:"xia";
}*/


*{
	color: #424242;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.nav{
	list-style: none;
}

.nav::after{
	content:"";
	display: block;
	clear: both;
}


.nav .list-item{
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0 10px;
}

.nav .list-item a{
	padding: 0 5px;
	display: inline-block;
	text-decoration: none;
	color: #f40;
	font-weight: bold;
	height: 30px;
}


.nav .list-item a:hover{
	background-color: #f40;
	color: #fff;
	border-radius: 15px;
}





