/*del {
	text-decoration: none;
}

*/

/*伪类选择器*/
/*a:hover {
	background-color: #f40;
	color:#fff;
	font-size:16px;
	font-weight: bold;
	font-family: arial;
	border-radius: 10px;
	text-decoration: none;
}*/

/*
盒子三大部分
盒子的组成部分：

盒子壁 border

内边距 padding

盒子内容 width + height

margin + border + padding + (content = width + height)
*/

/*.content1{
	height: 10px;
	width: 10px;
	background-color: #fff;	
}

.content{
	height: 10px;
	width: 10px;
	background-color: #0f0;
	padding: 10px;
}

.box{
	height: 30px;
	width: 30px;
	background-color: #fff;
	padding: 10px;
}

.wrapper{
	height: 50px;
	width: 50px;
	background-color: #0f0;
	padding: 10px;
}*/

/**{
	margin: 0;
	padding: 0;
}
 
.demo1{
	width: 10px;
	height: 10px;
	background-color: red;
	margin-right: 10px;
}

.demo2{
	width: 10px;
	height: 10px;
	background-color: blue;
	margin-left: 10px;
}*/

/*.demo {
	/*position: absolute;
	right: 100px;
	bottom: 100px;*/
/*	width: 100px;
	height: 100px;
	background-color: red;
	opacity: 0.5;
}

.box{
	width: 150px;
	height: 150px;
	background-color: green;
}*/
/*
div{
	position: fixed;
	width: 100px;
	height: 100px;
	background-color: orange;
	color: #f40;
}*/

/*
div{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top:-50px;
	width: 100px;
	height: 100px;
	background-color: #f40;
}*/